		</div> <!-- end of inner-content class from header -->
	</div> <!-- end of content class from header -->
	<script type="text/javascript" src="/vendors/jquery.min.js"></script>
	<script type="text/javascript" src="/vendors/colresizable-1.6.min.js"></script>
	<script type="text/javascript" src="/javascripts/htmljsonify.js"></script>
	<script type="text/javascript" src="/javascripts/quickedit.js"></script>
	<script type="text/javascript" src="/javascripts/quickdroppable.js"></script>
	<script type="text/javascript" src="/javascripts/criteria.js"></script>
	<script type="text/javascript" src="/javascripts/column_sizing.js"></script>
	<script type="text/javascript" src="/javascripts/post_decision.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
	</body>
</html>