<div class="content">
	<nav class="nav-bar">
	<img id="nav-logo-img" src="images/logo.svg" />
		<ul class="nav-bar-list">
			<li class="nav-bar-item"><a href="/" class="nav-logo">Home</a></li>
			<li class="nav-bar-item"><a href="/new" class="nav-link"> New</a></li>
		</ul>
	</nav>
	<div class="inner-content">
