<% include partials/head %>

<% include partials/header %>
	<h1 class="text-center" id="title">Help Me Decide</h1>
	<h3 class="text-center">The Decision Matrix</h3>
	<div class="spacer"></div>
	<h3 class="text-center">A <em class="color">Decision Matrix</em> is a tool to help you make decisions.</h3>
	<div class="spacer"></div>
	<p class="text-left">Put your choices into <em>rows</em>.</p>
	<p class="text-center">Put criteria in <em>columns</em>.</p>
	<p class="text-right">Score each combination.</p>
	<div class="spacer"></div>
	<h3 class="text-center">The total indicates the <em class="color">best decision</em>.</h3>
	<div class="spacer"></div>

	<p class="text-center"><em class="color">Help Me Decide</em> helps you create a decision matrix quickly with an easy-to-use drag/drop interface.  <em>Click, Share, Decide!</em></p>
	<div class="spacer"></div>

	<img class="feature-img full-size" src="/images/home/rename_title.gif" />
	<ul class="features">
		<li><p class="odd"><img class="feature-img" src="/images/home/drag_criteria.gif" />Drag & drop criteria into column headings</p></li>
		<li><p class="even"><img class="feature-img" src="/images/home/resize_columns.gif" />Adjust the width of a column to indicate its relative importance</p></li>
		<li><p class="odd"><img class="feature-img" src="/images/home/create_criteria.gif" />Don't like the default criteria?  Make your own!</p></li>
		<li><p class="even"><img class="feature-img" src="/images/home/rename_choice.gif" />Rename & relabel each row/choice</p></li>
		<li><p class="odd"><img class="feature-img" src="/images/home/rank_criteria_choice.gif" />Rate each criteria/choice combination from 1-5</p></li>
		<li><p class="even"><img class="feature-img" src="/images/home/high_numbers.gif" />Indicate if high numbers are good or bad</p></li>
		<li><p class="odd"><img class="feature-img" src="/images/home/change_criteria_color.gif" />Click on the criteria to change its color for easy labelling</p></li>
		<li><p class="even"><img class="feature-img" src="/images/home/share.gif" /><p>Share!</li>
		<li><h3 class="text-center"><a href="/new"> Create a new decision!</a></h3></li>
	</ul>	


<% include partials/footer %>