<% include partials/head %>

<% include partials/header %>
<div class="intro">
	<h1 class="text-center" id="title">Help Me Decide</h1>
	<h3 class="text-center">A <em class="color">Decision Matrix</em> is a tool to help you make decisions.</h3>
	<div class="spacer"></div>

	<div class="spacer"></div>

	<p class="text-left">Put your choices into <em>rows</em>.</p>
	<p class="text-center">Put criteria in <em>columns</em>.</p>
	<p class="text-right">Score each combination.</p>
	<h3 class="text-center">The total indicates the <em class="color">best decision</em>.</h3>
	<div class="spacer"></div>
	<img class="feature-img full-size" src="/images/home/rename_title.gif" />
	<div class="spacer"></div>

	<p class="text-center"><em class="color">Help Me Decide</em> helps you create a decision matrix quickly with an easy-to-use drag/drop interface.</p>
	<p class="text-center"><em>Click, Share, Decide!</em></p>
	<ul class="features">
		<li class="even"><img class="feature-img" src="/images/home/drag_criteria.gif" /><span>Drag & drop criteria into column headings</span></li>
		<li class="odd"><img class="feature-img" src="/images/home/resize_columns.gif" /><span>Adjust the width of a column to indicate its importance</span></li>
		<li class="even"><img class="feature-img" src="/images/home/create_criteria.gif" /><span>Don't like the default criteria?  Make your own!</span</li>
		<li class="odd"><img class="feature-img" src="/images/home/rename_choice.gif" /><span>Rename each choice</span></li>
		<li class="even"><img class="feature-img" src="/images/home/rank_criteria_choice.gif" /><span>Rate each criteria/choice combination from 1-5</span></li>
		<li class="odd"><img class="feature-img" src="/images/home/high_numbers.gif" /><span>Indicate if high numbers are good or bad</span></li>
		<li class="even"><img class="feature-img" src="/images/home/change_criteria_color.gif" /><span>Click on the criteria to change its color</span></li>
		<li class="odd"><img class="feature-img" src="/images/home/share.gif" /><span>Share!</span></li>
		<li class="center"><h3><a href="/new"> Create a new decision!</a></h3></li>
	</ul>	
</div>

<% include partials/footer %>