body {
  padding: 50px;
  font: 14px 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}
.all-decisions {
	margin: 5px 0px;
	background-color: #efefef;
}
.decision {
	display: inline-block;
	margin: 5px;
	padding: 15px;
	border: #efefef 1px;
	border-radius: 5px;
	background-color: #eeeeee;
}
.color-1 {
	background-color: #FFD189;
}
.color-2 {
	background-color: #E88F82;
}
.color-3 {
	background-color: #FBCFFF;
}
.color-4 {
	background-color: #868CE8;
}
.color-5 {
	background-color: #82F8FF;
}
.priorities {
	height:20px;
	margin: 5px 20px;
}
.priorities.empty {
	padding-top: 20px;
	background-color: #efefef;
}
.priorities.empty::before {
	content:'+';
	font-family: Arial;
	font-size: 3em;
	color: white;
	border-width: 20px black;
}
.priorities .decision {
	width: 100%;
	margin: 0px 0px;
	padding: 30px 0px;
	border-radius: 0px;
	border-width: 0px;
}
.percent {
	margin: 0px 0px;
}
#final-test {
	width: 200px;
	height: 200px;
	background-color: #efefef;
}