body {
  padding: 50px;
  font: 14px 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
table {
	overflow-wrap: break-word;
}
a {
  color: #00B7FF;
}
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}
.all-criterias-show{
	line-height: 3em;
	background-color: #cdcdcd;
	text-align: center;
}
.all-criterias-show::after {
	content: '+';
	font-family: Arial;
	font-size: 3em;
	color: white;
	border-width: 20px black;
}
.all-criterias {
	margin: 0px 0px 5px 0px;
	background-color: #efefef;
	max-height: 400px;
	overflow: hidden;
	-webkit-transition: height 1s; 
	-moz-transition: max-height 1s; 
	-ms-transition: max-height 1s; 
	-o-transition: max-height 1s; 
	transition: max-height 1s;  
}
.all-criterias.hide {
	max-height: 0px;
}
.criteria {
	display: inline-block;
	margin: 5px;
	padding: 15px;
	border: #efefef 1px;
	border-radius: 5px;
	background-color: #eeeeee;
}
.new-criteria {
	border: 1px #ababab solid;
}
.choice {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
}
.color-1 {
	background-color: #FFD189;
}
.color-2 {
	background-color: #E88F82;
}
.color-3 {
	background-color: #FBCFFF;
}
.color-4 {
	background-color: #868CE8;
}
.color-5 {
	background-color: #82F8FF;
}
.priorities {
	height:20px;
	margin: 5px 20px;
}
.priorities.empty {
	padding-top: 20px;
	background-color: #efefef;
}
.priorities.empty::before {
	content:'+';
	font-family: Arial;
	font-size: 3em;
	color: white;
	border-width: 20px black;
}
.priorities .criteria {
	width: 100%;
	margin: 0px 0px;
	padding: 30px 0px;
	border-radius: 0px;
	border-width: 0px;
}
.percent {
	margin: 0px 0px;
}
.result {
	vertical-align: top;
}
.p-result {
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	color: #6BE8CC;
}
.rank {
	text-align: center;
}
.text-center {
	text-align: center;
}
.large-numbers-button, .rank {
  padding: 12px;
}
.large-numbers-button input[type="radio"], .rank input[type="radio"] {
  width: 0px;
  height: 0px;
  display: none;
}
.large-numbers-button label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-shadow: white;
  background-color: #cdcdcd;
  color: white;
  padding: 5px 24px;
  padding-bottom: 3px;
  font-size: 12px;
  cursor: pointer;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin-right: -5px;
}
.rank label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-shadow: white;
  background-color: #dedede;
  color: white;
  padding: 5px 10px;
  padding-bottom: 3px;
  font-size: 12px;
  cursor: pointer;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin-right: -5px;
}

.large-numbers-button label, .rank label {
  *display: inline;
}
.large-numbers-button label:hover, .rank label:hover {
  background-color: #bcb;
}
.large-numbers-button label:active, .large-numbers-button label.active, .ranklabel:active, .rank label.active  {
  background-color: #bcb;
}
.large-numbers-button label:first-of-type, .rank label:first-of-type {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.large-numbers-button label:last-of-type, .rank label:last-of-type  {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.large-numbers-button input:checked + label, .large-numbers-button label.selected, .rank input:checked + label, .rank label.selected  {
  background-color: #aaaaaa;
}
.large-numbers-result {
	position:relative;
}
.large-result {
	position:absolute;
	opacity: 1;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.large-result.hide-opacity {
	opacity: 0;
}

@media(max-width: 600px){
	body {
		padding: 5px;
	}
	#sample {
		width: 100%;
	}
	.large-numbers-button, .rank {
		padding: 0px;
	}
	.rank label{
	  padding: 15px 20px;
	  font-size: 16px;
	}
	.large-numbers-button label {
	  padding: 15px 30px;
	  font-size: 16px;
	}
}