body {
  font: 16px 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
em {
  font: 16px Arial, sans-serif;
  font-style: italic;
}
em.color{
  color: #868CE8;
}
.spacer {
  margin: 40px 0px;
}
.inner-content {
  padding: 50px;
  max-width: 960px;
  margin: 0 auto;
}
.nav-bar-list, #logo {
  vertical-align: middle;
}
.nav-bar-list {
  display: inline-block;
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}
.nav-bar-item {
  display: inline-block;
  margin: 0px 5px;
}
.nav-bar-item a {
  text-decoration: none;
  font-style: italic;
  font-size: 1.25em;
  color: #868CE8;
}
.nav-bar-item a:visited {
  color: #E88F82;
}
.nav-bar-item a:hover {
  color: #FBCFFF;
}
#logo {
  max-width: 40px;
  margin: auto;
}
.features{
  padding-left: 0px;
  list-style-type: none;
}
.features li {
  display: inline-block;
  width: 100%;
  padding: 40px 0px;
  border-top: #aaa dotted 1px;
  clear: both;
}
.feature-img.full-size {
  display: block;
  width: 100%;
  margin: 0px auto;
  text-align: middle;
}
p.odd {
  text-align: right;
}
p.odd .feature-img {
  float: left;
}
p.even .feature-img {
  float: right;
}
.feature-img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
}
@media(max-width: 600px){
  p.even .feature-img, p.odd .feature-img {
    display:block;
    float: none;
  }
}

.text-left {
  text-align: left;
}
.text-middle {
  text-align: center;
}
.text-right {
  text-align: right;
}
table {
	overflow-wrap: break-word;
}
a {
  color: #00B7FF;
}
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}
.all-criterias-show {
	line-height: 3em;
	background-color: #cdcdcd;
	text-align: center;
}
.all-criterias-show::after {
	content: '+';
	font-family: Arial;
	font-size: 3em;
	color: white;
	border-width: 20px black;
}
.all-criterias {
	margin: 0px 0px 5px 0px;
	background-color: #efefef;
	max-height: 600px;
	overflow: hidden;
	-webkit-transition: height 1s; 
	-moz-transition: max-height 1s; 
	-ms-transition: max-height 1s; 
	-o-transition: max-height 1s; 
	transition: max-height 1s;  
}
.all-criterias.hide {
	max-height: 0px;
}
.criteria {
	display: inline-block;
	margin: 5px;
	padding: 15px;
	border: #efefef 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
	border-radius: 5px;
	background-color: #eeeeee;
}
.new-criteria {
	border: 1px #ababab solid;
}
.choice, .rank-choice {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
}
.color-1 {
	background-color: #FFD189;
}
.color-2 {
	background-color: #E88F82;
}
.color-3 {
	background-color: #FBCFFF;
}
.color-4 {
	background-color: #868CE8;
}
.color-5 {
	background-color: #82F8FF;
}
.priority, #new-row {
	height:20px;
	margin: 5px 20px;
  overflow: hidden;
  text-align: center;
}
.priority.empty, #new-row {
	padding-top: 20px;
	background-color: #efefef;
}
.priority.empty::before, #new-row::before {
	content:'+';
	font-family: Arial;
	font-size: 3em;
	color: white;
	border-width: 20px black;
}
#new-row {
  padding-top: 0px;
}
.priority .criteria {
	width: 100%;
	margin: 0px 0px;
	padding: 30px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
	border-width: 0px;
}
.percent {
	margin: 0px 0px;
}
.first-col {
  position:relative;
}
.first-col .trash-button {
  position:absolute;
  bottom:5px;
  left: 5px;
}
.trash-button.disable {
  color:  #cdcdcd;
}
.result {
	vertical-align: top;
}
.p-result {
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	color: #6BE8CC;
}
.rank {
	text-align: center;
}
.text-center {
	text-align: center;
}
.large-numbers-button, .rank {
  padding: 12px;
}
.large-numbers-button input[type="radio"], .rank input[type="radio"] {
  width: 0px;
  height: 0px;
  display: none;
}
.large-numbers-button label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: -5px;
  padding: 5px 24px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  background-color: #cdcdcd;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.rank label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: -5px;
  padding: 5px 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  background-color: #dedede;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.large-numbers-button label, .rank label {
  *display: inline;
}
.large-numbers-button label:hover, .rank label:hover {
  background-color: #bcb;
}
.large-numbers-button label:active, .large-numbers-button label.active, .ranklabel:active, .rank label.active, 
#save-button:hover, #save-button:focus, #save-button:active  {
  background-color: #bcb;
}
.large-numbers-button label:first-of-type, .rank label:first-of-type {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.large-numbers-button label:last-of-type, .rank label:last-of-type  {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.large-numbers-button input:checked + label, .large-numbers-button label.selected, .rank input:checked + label, .rank label.selected  {
  background-color: #aaaaaa;
}
.large-numbers-result {
	position:relative;
  height: 3em;
  padding: 12px;
}
.large-result {
	position:absolute;
	opacity: 1;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.large-result.hide-opacity {
	opacity: 0;
}

.save-success {
  margin: 15px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.save-success.hide-opacity  {
  opacity: 1;
}
#save-button{
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: -5px;
  padding: 10px 20px;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #aaaaaa;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

#modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  overflow: auto;
  background-color: rgba(0, 0, 0, .2);
}

.modal__content{
  position: relative;
  margin: 30% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: #efefef;
  color: black;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: modalenter;
  -webkit-animation-duration: 0.4s;
  animation-name: modalenter;
  animation-duration: 0.4s
}

.close {
  float: right;
  padding: 10px;
  margin: 5px;
  background-color: #aaaaaa;
  color: white;
  cursor: pointer;
}
.close:hover, .close:active {
  background-color: #bcb;
}

/* Add Animation */
@-webkit-keyframes modalenter {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes modalenter {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.social-media {
  text-align: center;
}

.social-media a {
  margin: 5px;
}

@media(max-width: 600px){
	body {
		padding: 5px;
	}
	#decision-maker {
		width: 100%;
	}
	.large-numbers-button, .rank {
		padding: 0px;
	}
	.rank label{
	  padding: 15px 20px;
	  font-size: 16px;
	}
	.large-numbers-button label {
	  padding: 15px 30px;
	  font-size: 16px;
	}
}